html {
	background: black;
	font-family: 'Noto Serif', serif;
	text-align: center;
}

.stopwatch{
	color: white;
}


h1 {
	color: white;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: .3rem;
	margin: 0;
}


iframe {
	overflow: hidden;
}


.keys {
	display: block;
	width: 100%;
	height: 350px;
	max-width: 880px;
	position: relative;
	margin: 40px auto 0;
}

.key {
	position: relative;
	border: 4px solid black;
	border-radius: .5rem;
	box-shadow: 0 0 1rem white;
	transition: all ease .3s;
	display: block;
	box-sizing: border-box;
	z-index: 2;

}

.pushKey {
	transform: scale(.99);
	border-color: deepskyblue;
}

.key:not(.sharp) {
	float: left;
	width: 8.3%;
	height: 100%;
	background: white;
}


.key.sharp {
	position: absolute;
	width: 5%;
	height: 60%;
	background: black;
	color: white;
	top: 0;
	z-index: 3;
}

.key.sharp:active {
	border: 1px solid blue;
}

.key[data-key="50"] {
	left: 6%;
}

.key[data-key="51"] {
	left: 14%;
}

.key[data-key="53"] {
	left: 31%;
}

.key[data-key="54"] {
	left: 39%;
}

.key[data-key="55"] {
	left: 47%;
}

.key[data-key="57"] {
	left: 64%;
}

.key[data-key="48"] {
	left: 72%;
}

.key[data-key="187"] {
	left: 89%;
}



.key[data-key="83"] {
	left: 6%;
}

.key[data-key="68"] {
	left: 14%;
}

.key[data-key="71"] {
	left: 30%;
}

.key[data-key="72"] {
	left: 39%;
}

.key[data-key="74"] {
	left: 47%;
}

.key[data-key="76"] {
	left: 64%;
}

.key[data-key="186"] {
	left: 72%;
}


.hints {
	display: block;
	width: 100%;
	opacity: 0;
	position: absolute;
	bottom: 7px;
	font-size: 20px;
}

.keys:hover .hints {
	opacity: 1;
}

hr {
	background: white;
	margin-top: 50px;
}

